$base-color: #4caf50;
$darkest: #1b5e20;
$darker: #388e3c;
$lighter: #a5d6a7;
$lightest: #e8f5e9;

$modal-padding: 24px;

body {
    background-color: $lighter;
}
a {
    color: $darkest;
}

article {
    background-color: #ffffff;
    border: 1px solid #333;
    border-radius: 1em;
    padding: 0.5em;
    + article {
        margin-top: 18px;
    }
}

// Forms
form {
    input[type=text],
    input[type=password] {
        background-color: #fff;
        border: 1px solid #666;
        border-radius: 3px;
    }
    label {
        color:#333333;
        font-size: 1.6rem;
    }
}

// Modal
.modal-container {
    background: rgba(0, 0, 0, 0.6);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal {
    max-height: 100%;

    .modal-dialog {
    }
    .modal-content {
        padding: 0;
    }
    .modal-header {
        background-color: $darkest;
        color: #ffffff;
        padding: $modal-padding;

        h3 {
            margin-bottom: 0;
        }
    }
    .modal-body {
        padding: $modal-padding;

        h4 {
            color: $darkest;
        }
    }
    .modal-footer {
        background-color: $darker;
        border-radius: 0;
        padding: 0 $modal-padding;

        .btn-flat {
            margin-left: 1rem;
            margin-bottom: 0;
        }
    }
}
.modal-backdrop {
    background: rgba(0, 0, 0, 0.85) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

// Tag Cloud
.tag-cloud {
    label {
        color: $darkest;
        font-size: 1.2em;
        input {
            background-color: #ffffff;
            border: solid 1px $darkest;
            border-radius: 0.3em;
            font-size: 1em;
            margin-bottom: 0;
            padding: 0 0.2em;

            &:focus {
                border-bottom-color: $darkest;
            }
        }
    }
    .tag-cloud--tag-list {
        .tag-cloud--tag-list--link {
            &:hover {
                background-color: $lightest;
                color: $darker;
                display: block;
                height: 100%;
                width: 100%;
            }
        }
    }
}
