@import 'materialize-src/sass/materialize';

$base-color: #607d8b;
$darkest: #263238;
$darker: #455a64;
$lighter: #b0bec5;
$lightest: #eceff1;

$light-grey: #ccc;
$grey: #333;
$dark-grey: #666;
$white: #fff;

$transparent-background-1: rgba(0, 0, 0, 0.6);
$transparent-background-2: rgba(0, 0, 0, 0.85);
$transparent-background-light-1: rgba(255, 255, 255, 0.85);

$modal-padding: 24px;

body {
    background-color: $lightest;
}

a {
    color: $darkest;
}

// Waypoints
.waypoints {
    @media #{$small-and-down} {
        h4 {
            font-size: 1.4em;
            margin: 0.4rem 0 0.28rem;
        }

        h5 {
            font-size: 0.9em;
        }
    }

    article {
        background-color: $white;
        border: 1px solid $grey;
        border-radius: 1rem;
        padding: 0.5rem;
        @media #{$small-and-down} {
            padding: 0.3rem;
        }

        + article {
            margin-top: 18px;
        }

        .waypoint--tags {
            font-size: 1.2rem;
            margin: 0;
        }
    }
}

// Forms
form {
    input {
        &[type='text'],
        &[type='password'] {
            background-color: $white;
            border: 1px solid $dark-grey;
            border-radius: 3px;
            padding: 0 0.8em;
        }
    }

    label {
        color: $darkest;
        font-size: 1.6rem;
    }
}

.typeahead {
    li {
        &.active {
            background-color: $lightest;
        }
    }
}

// Modal
.modal-container {
    background: $transparent-background-1;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal {
    max-height: 100%;

    .modal-content {
        padding: 0;
    }

    .modal-header {
        background-color: $darkest;
        color: $white;
        padding: $modal-padding;

        h3 {
            margin-bottom: 0;
        }
    }

    .modal-body {
        padding: $modal-padding;

        h4 {
            color: $darkest;
        }
    }

    .modal-footer {
        background-color: $base-color;
        border-radius: 0;
        padding: 0 $modal-padding;

        .btn-flat {
            margin-bottom: 0;
            margin-left: 1rem;
        }
    }

    .loading-container {
        background: $transparent-background-light-1;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.modal-backdrop {
    background: $transparent-background-2 none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

// Tag Cloud
.main {
    .tag-cloud {
        @media #{$small-and-down} {
            &.sidebar {
                display: none;
                width: 0;
            }

            &.sidebar-show {
                background-color: $dark-grey;
                display: block;
                left: 0.75rem;
                position: absolute;
                right: 0;
                transition: 2s;
                width: 100%;
            }
        }

        label {
            color: $darkest;
            font-size: 1.2em;

            input {
                background-color: $white;
                border: solid 1px $darkest;
                border-radius: 0.3em;
                font-size: 1em;
                margin-bottom: 0;
                padding: 0 0.2em;

                &:focus {
                    border-bottom-color: $darkest;
                }
            }
        }

        .tag-cloud--tag-list {
            .tag-cloud--tag-list--link {
                display: block;
                height: 100%;
                padding-left: 0.75rem;
                width: 100%;

                &:hover {
                    background-color: $lightest;
                    color: $darker;
                }
            }
        }
    }
}

// Materialize overrides
.btn {
    &:hover {
        background-color: $darkest;
    }
}

.btn-flat {
    background-color: $darker;
    color: $white;
}
